CLUSTER_PROJECT_ROOT=/scratch/sv2279/SFT-RL
SINGULARITY_OVERLAY=/scratch/sv2279/overlay-25GB-500K.ext3:r
SINGULARITY_IMAGE=/scratch/sv2279/ubuntu-20.04.3.sif
CONDA_ENV_NAME=llmr

A3_SAVE_ROOT=/scratch/sv2279/assignment3-runs
A3_TRAIN_PATH=/scratch/sv2279/SFT-RL/data-distrib/intellect_math/train
A3_PRIME_VAL_PATH=/scratch/sv2279/SFT-RL/data-distrib/intellect_math/dev
A3_PRIME_TEST_PATH=/scratch/sv2279/SFT-RL/data-distrib/intellect_math/test
A3_COUNTDOWN_TRAIN_PATH=/scratch/sv2279/SFT-RL/data-distrib/countdown/train
A3_COUNTDOWN_DEV_PATH=/scratch/sv2279/SFT-RL/data-distrib/countdown/dev
A3_COUNTDOWN_TEST_PATH=/scratch/sv2279/SFT-RL/data-distrib/countdown/test

A3_POLICY_DEVICE=cuda:0
A3_EVAL_DEVICE=cuda:1
A3_SFT_WANDB_PROJECT=sft-math
A3_GRPO_WANDB_PROJECT=grpo-countdown

WANDB_API_KEY=replace_me
WANDB_ENTITY=saravargasmar-new-york-university
